.tonyStark {
    background-color: silver;
    color: red;
    box-shadow: gold;
}

.howardStark{

}

.wolveryne {

}

.blackPanter {
    background-color: black; 
    color: gold;
}

.captainAmerica {

}