.ironMan {
    background-color: silver;
    color: red;
    box-shadow: gold;
}

.wolveryne {
    jaune et noir
}

.blackPanter {
    background-color: black; 
    color: gold;
}

.captainAmerica {
    background-color: white;
    color: blue;
    box-shadow: red 0 0 5px 0;
}

.bucky {
    background-color: silver;
    color: black;
}

.blackWindow {
    black et blanc
}

.hulk {
    vert
}

.warMachin {
    gris et gris foncé
}

.drStrange {
    bleu rouge et or
}

.spiderMan {
    rouge bleu et or
}





















































.hidra {

}